@media only screen and (min-width:600px){
    body{
        margin: 0;
    }
    .main{
        height: 100%;
        width: 100%;
        position: relative;
    }

    nav{
        display: flex;
        padding: 0 3vw;
        height: 10vh;
        font-family: 'DotGothic16';
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }
    nav h2{
        font-size: 5vh;
        font-weight: 10;
    }
    nav h4{
        font-weight: 10;
        font-size: 3vh;
    }
    .links{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2vw;
    }
    .links i{
        display: none;
    }
    .main1{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .main1 h1{
        font-family: 'DotGothic16';
        text-align: center;
        padding: 10% 0;
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 13vh;
        font-weight: 10;
    }
    .portfolio{
        border-radius: 10vh;
        width: 90%;
        padding:0 5%;
    }
    .projects{
        padding: 20vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .projects img{
        width: 50vh;
        height: 30vh;
    }
    .projects figcaption{
        font-family: 'Archivo';
        line-height: 3vh;
    }
}

@media only screen and (max-width:600px){
    body{
        margin: 0;
    }
    .main{
        height: 100%;
        width: 100%;
        position: relative;
    }
    
    nav{
        display: flex;
        padding: 0 3vw;
        height: 10vh;
        font-family: 'DotGothic16';
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }
    .links h4{
        display: none;
    }
    .links i{
        display: block;
        font-size: 4vh;
    }
}