
    body{
        margin: 0;
        width: 100%;
    }
    .main{
        height: 100%;
        width: 100%;
    }

    nav{
        display: flex;
        width: 100%;
        height: 10vh;
        font-family: 'DotGothic16';
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }
    nav h2{
        font-size: 5vh;
        font-weight: 10;
        padding-left: 4vh;
    }
    nav h4{
        font-weight: 10;
        font-size: 3vh;
    }
    .links{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2vw;
        padding-right: 4vh;
    }
    .links i{
        display: none;
    }
    .main1{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .main1 h1{
        padding-top: 5vh;
        font-family: 'DotGothic16';
        text-align: center;
        margin-bottom: 0;
        font-size: 13vh;
        font-weight: 10;
    }
    .portflex{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .portfolio{
        border-radius: 10vh;
        width: 90%;
    }
    .projects{
        padding-top: 15vh;
        padding-bottom: 10vh;
        overflow: hidden;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .projects img{
        width: 50vh;
        height: 30vh;
    }
    .projects figcaption{
        font-family: 'Archivo';
        line-height: 3vh;
    }
    .flexabout-a{
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        font-family: 'DotGothic16';
        font-size: 5vh;
        text-align: center;
        font-weight: 10;
    }
    .flexabout-b{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10vh;
    }
    .do{
        font-family: 'DotGothic16';
        font-size: 3vh;
        font-weight: 100;
    }
    .dos{
        display: grid;
        font-family: 'Archivo';
        color:rgb(71, 71, 71);
        font-weight: 100;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,5vh);
        column-gap: 30vh;
        row-gap: 0;
        line-height: 1px;
        font-weight: 10;
        font-size: 2vh;
        padding-right: 10vh;
    }
    .clients{
        text-align: center;
        font-weight: 100;
        font-family: 'DotGothic16';
        font-size: 5vh;
        padding:10vh 0 ;
        width: 90%;
    }
    .profiles{
        display: flex;
        overflow: auto;
        scroll-behavior: smooth;
        width: 100%;
        justify-content: center;
        padding-left: 5%;
    }
    .card{
        padding: 2vh;
    }

    .testimonial-card {
        width: auto;
        height: auto;
        display: flex;
        border: 0.2vh solid black;
        border-radius: 1.2vh;
        padding: 2vh;
        background-color: #fff;
        box-shadow: 0 0.2vh 1vh rgba(0, 0, 0, 0.1);
    }
    
    .profile-image {
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 2vh;
    }
    
    .profile-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .testimonial-content {
        flex: 1;
    }
    
    .name {
        font-weight: 800;
        font-family: 'Archivo';
        font-size: 2.4vh;
        margin: 0;
    }
    
    .designation {
        color: #666;
        font-size: 1.8vh;
        margin: 0;
        font-weight: 400;
        font-family: 'Archivo';
        margin-bottom: 1vh;
    }
    
    .testimonial-text {
        font-size: 2vh;
        color: #333;
        line-height: 2.5vh;
        font-weight: 400;
        font-family: 'Archivo';
        border-left: 0.3vh solid #000;
        padding-left: 1vh;
    }
    